.parent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.looder{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    border: 20px solid #3a5a40;
    border-top: 18px solid #ffb703;
    animation: looder 3s ease-in 0s infinite;
}

@keyframes looder {
    0%{
        transform: rotate(0deg);
    }

100%{
    transform: rotate(360deg);
}

}















/* .box{
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 4px solid blueviolet;
    position: absolute;
    top: 300px;
    left: 400px;
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */

    /* transition: all 3s ease-in 0s; */
    /* transform: rotate(46deg); */
    
/* }

.box:hover{
    animation: myAnimation 3s ease-in 0s 2;
} */

/* .box:hover{
background-color: rgb(37, 171, 171);
border: 4px solid red;
transform: translate(-200px, -200px);
transform: skew(45deg);
} */

@keyframes myAnimation {
    0%{
        font-size: 20px;
        background-color: blueviolet;
    }
    50%{
        background-color: red;
    }
    100%{
        font-size: 25px;
        background-color: aqua;
    }

} */




/* .box:active{
    background-color: brown;
} */

