h1{
    color: orange; background-color: Black;
}


#box{
    background-color: ;
    }

.heading{
    color: rgb(67, 78, 207);
 }

 #jutt {
    background-color: #3fef1c !Important;

 }



